@import '../index.scss';

.container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  height: 100%;
  width: 100%;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  &__form {
    @include formDisplay;
  }
  &__header {
    padding: 2rem;
    font-size: 3rem;
  }

  &__label {
    font-size: 1.2rem;
  }

  &__input {
    @include inputStyles;
  }

  &__btn {
    @include formBtnStyle;

    &--switch {
      background-color: var(--dark-green);
    }
  }

  grid-area: 1 / 1 / 2 / 2;
}

.logo {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &__popTxt {
    padding-right: 0.5rem;
  }
  &__popup {
    position: absolute;
    z-index: 9;
  }

  &__modal {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    padding: 1.5rem;
    color: #000;
    transform: translateY(-15rem);
    height: 8rem;
    width: auto;
    background-image: var(--modal-gradient);
    

    a {
      text-decoration: none;
      color: var(--dark-yellow);
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:hover {
        color: var(--light-beige);
      }
    }
  }

  &__description {
    position: absolute;
    z-index: 9;
    color: #fff;
    transform: translateY(4rem);
    @include ScriptFonts2;
  }

  h1 {
    position: absolute;
    font-size: 8rem;
    transform: translateY(-2rem);
    @include ScriptFonts;
    color: #fff;
    font-weight: 400;
  }
  &__picAuthor {
    position: absolute;
    z-index: 9;
    color: #000;
    font-size: 0.7rem;
    bottom: 0;
    right: 0.2rem;
    color: #fff;
    a {
      color: var(--dark-green);
      text-decoration: none;
    }
  }

  &__header {
    position: absolute;
    z-index: 9;
  }
  &__img {
    height: 100vh;
    width: 100vw;
    position: relative;
    transform-origin: top;
    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right bottom, #a0a0a0, #000);
      opacity: 0.8;
    }
  }
  grid-area: 1 / 2 / 2 / 3;
}
