@import "../../index.scss";

.mainNav {
  height: 8vh;
  width: 100%;
  background-color: var(--grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &__icon {
    padding-left: 0.5rem;
    transition: all 0.3s ease;
  }

  &__span {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    transition: all 0.3s ease;
  }

  &__span:hover .mainNav__icon {
    color: var(--dark-green);
  }

  &__searchBtn {
    position: absolute;
    transform: translateX(-30%);
    @include navigationButtons;
    &:hover {
      width: 7rem;
    }
  }

  h1 {
    @include Logo;
  }

  &__search {
    border-radius: 30px;
    padding-left: 1rem;
    background-color: var(--white);
    border: 2px solid var(--white);
    transition: all 0.2s;

    &:focus::placeholder {
      transform: translate(-80px);
      opacity: 0;
      position: absolute;
      transition: all 0.2s cubic-bezier(1, 0.15, 0.9, 1.11);
    }
  }

  &__search:focus {
    outline: none;
    transform: scale(1.02);
  }

  &__profile {
    position: absolute;
    right: 10rem;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    @include navigationButtons;
    background-size: 200%;

    &:hover {
      background-position: right;
    }
  }

  &__List {
    color: black;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0;
  }
}

.par {
  font-size: 20rem;
  color: rebeccapurple;
}
